.facility-details-wrap,
.facility-details__skeleton {
	width: calc(100vw - 94px);
	display: flex;
}
.facility-details,
.facility-details__skeleton__content {
	min-width: 675px;
	height: calc(100vh - 60px);
	padding-right: 25px;
	margin: 30px 25px 30px 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	overflow-y: scroll;
	position: relative;
}
.facility-details__skeleton__content{
	width: 675px;
}
.facility-details::-webkit-scrollbar {
	width: 5px;
}

.facility-details::-webkit-scrollbar-thumb:hover {
	background-color: #DBDBDB;
}

.facility-details::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #E5E5ED;
}

.facility-details__header {
	position: relative;
	width: 645px;
	height: 300px;
}
.facility-details__header__image,
.facility-details__skeleton__image {
	width: 100%;
	height: 300px;
	border-radius: 24px;
	overflow: hidden;
	position: relative;
}
.facility-details__skeleton__image{
	width: 100%;
	height: 300px;
	border-radius: 24px;
}
.facility-details__header__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.facility-details__header__image span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(36, 36, 36, 0.4));
}

.facility-details__header__text-scroll-up {
	display: flex;
	flex-direction: column;
	gap: 5px;
	opacity: 1;
	position: absolute;
	bottom: 40px;
	left: 40px;
	transition: 0.3s;
}

.facility-details__header__text-scroll-down {
	display: none;
	width: 100%;
	padding: 15px 0 15px 0;
	background-color: var(--white);
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
	flex-direction: column;
	align-items: center;
	gap: 3px;
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0px;
	z-index: 1;
	transition: 0.3s;
}

.facility-details__header__text-scroll-up__title {
	font-size: 36px;
	font-weight: 700;
	color: var(--white);
	text-transform: capitalize;
}

.facility-details__header__text-scroll-down__title {
	font-size: 18px;
	font-weight: 700;
	color: var(--black);
	text-transform: capitalize;
}

.facility-details__header__text-scroll-up__gametype {
	display: flex;
	gap: 10px;
}

.facility-details__header__text-scroll-down__gametype {
	display: flex;
}

.facility-details__header__text-scroll-up__gametype__icon svg {
	width: 18px;
	height: 18px;
	stroke: var(--white);
}

.facility-details__header__text-scroll-down__gametype__icon svg {
	display: none;
}

.facility-details__header__text-scroll-up__gametype__text {
	font-size: 16px;
	font-weight: 600;
	color: var(--white);
}

.facility-details__header__text-scroll-down__gametype__text {
	font-size: 12px;
	font-weight: 500;
	color: var(--grey);
}
/* HEADER END */

/* TABS */
.facility-details__skeleton__tabs{
	width: 100%;
	height: 44px;
	border-radius: 16px;
}
.facility-details__selection__rooms__list {
	width: 100%;
	display: flex;
}
.facility-details__selection__rooms__item{
	padding: 12px 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.facility-details__selection__rooms__item span{
	color: var(--grey);
	font-weight: 600;
	text-transform: capitalize;
	transition: color 0.3s ease-in-out;
	cursor: pointer;
}

.facility-details__selection__rooms__item.selected span{
	color: var(--black);
}
.facility-details__selection__rooms__item__underline {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-color: #F4F4F4;
	border-radius: 16px;
	z-index: -1;
}
/* TABS END */

/* DATETIME PICKER */
.facility-details__skeleton__datepicker span{
	display: flex;
	gap: 8px;
}
.facility-details__skeleton__date {
	width: 58px;
	height: 70px;
	border-radius: 16px;
}
.facility-details__skeleton__timepicker span {
	display: flex;
	gap: 8px;
}
.facility-details__skeleton__time {
	width: 83px;
	height: 38px;
	border-radius: 14px;
}
.facility-details__datepicker .react-datepicker__month{
	width: 100%;
	display: flex;
	overflow-x: scroll;
	margin-left: -7.5px;
}
.facility-details__datepicker .react-datepicker__month::-webkit-scrollbar {
	display: none;
}
.facility-details__datepicker .react-datepicker__week{
	display: flex;
}
.facility-details__datepicker .react-datepicker__day {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3px;
	cursor: pointer;
	padding: 8px 0 8px 0;
	margin: 0 7.5px;
	background-color: transparent;
	border: 2px solid var(--grey-light);
	border-radius: 16px;
	font-size: 22px;
	font-weight: 700;
	color: var(--black);
	min-width: 58px;
}
.facility-details__datepicker .react-datepicker__day:hover {
	background: var(--grey-light);
	border: 2px solid var(--grey-light);
	color: var(--black);
}
.facility-details__datepicker .react-datepicker__header,
.facility-details__datepicker .react-datepicker__day--disabled,
.facility-details__datepicker .react-datepicker__day--outside-month,
.facility-details__datepicker .react-datepicker__aria-live,
.facility-details__datepicker .react-datepicker__navigation {
	display: none;
}

.facility-details__datepicker .react-datepicker__day--today {
	border: 2px solid var(--grey-light);
}
.facility-details__datepicker .react-datepicker__day span {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: var(--grey);
}
.facility-details__datepicker .react-datepicker__day--selected,
.facility-details__datepicker .react-datepicker__day--selected span,
.facility-details__datepicker .react-datepicker__day--selected:hover,
.facility-details__datepicker .react-datepicker__day--selected:hover span,
.facility-details__timepicker__item.selected,
.facility-details__timepicker__item.selected:hover {
	background-color: var(--blue);
	border-color: transparent;
	color: var(--white);
	transition: 0.05s;
}
.facility-details__timepicker__wrapper{
	width: 100%;
}
.facility-details__timepicker{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	overflow-x: scroll;
}
.facility-details__timepicker::-webkit-scrollbar {
	display: none;
}
.facility-details__timepicker__item{
	padding: 6px 14px;
	border: 2px solid var(--grey-light);
	border-radius: 14px;
	font-size: 18px;
	font-weight: 600;
	color: var(--black);
	cursor: pointer;
}
.facility-details__timepicker__item:hover {
	background: var(--grey-light);
	border: 2px solid var(--grey-light);
	color: var(--black);
}
.facility-details__timepicker__item.disabled{
	background: var(--blue-light);
	color: var(--white);
	border-color: var(--blue-light);
	cursor: not-allowed;
}
/* DATETIME PICKER END */

/* BENEFITS */
.facility-details__benefits,
.facility-details__reviews {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.facility-details__skeleton__benefits{
	margin-top: 15px;
}
.facility-details__skeleton__benefits__title {
	width: 250px;
	height: 29px;
	border-radius: 11px;
	margin-bottom: 15px;
}
.facility-details__skeleton__benefits span{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.facility-details__skeleton__benefits__content {
	width: 45%;
	height: 24px;
	border-radius: 8px;
}
.facility-details__benefits__title,
.facility-details__reviews__title,
.facility-details__location__title,
.facility-details__contacts__title {
	font-size: 24px;
	font-weight: 700;
	color: var(--black);
}

.facility-details__benefits__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
}

.facility-details__benefits__item {
	width: 45%;
	display: flex;
	gap: 10px;
}

.facility-details__benefits__item-icon {
	width: 20px;
	stroke: var(--grey);
}

.facility-details__benefits__item span {
	font-size: 18px;
	font-weight: 500;
	color: var(--black);
}
/* BENEFITS END */

/* REVIEWS */
.facility-details__reviews__main {
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 15px;
	border: 2px solid var(--grey-light);
	border-radius: 24px;
}

.facility-details__reviews__main__content {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.facility-details__reviews__main__content__text {
	font-size: 16px;
	font-weight: 500;
	color: var(--black);
}

.facility-details__reviews__main__content__button {
	width: 100%;
	padding: 12px 0;
	background-color: var(--blue-light);
	color: var(--blue);
	border-radius: 14px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	transition: 0.3s;
}

.facility-details__reviews__main__content__button:active {
	transform: scale(0.97);
}

.facility-details__bron {
	width: 100%;
	position: sticky;
	bottom: 0;
	padding: 1px 0;
	background-color: var(--white);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px -15px 30px 0px white;
	z-index: 1;
}

.facility-details__bron__timeduration {
	width: 100%;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	border-top: 2px solid var(--grey-light);
}

.facility-details__bron__timeduration span {
	font-size: 16px;
	font-weight: 700;
	color: var(--blue);
}

.facility-details__bron__submit {
	width: 100%;
	padding: 14px 15px;
	border-radius: 14px;
	background-color: var(--blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: transform 0.3s;
}
.facility-details__bron__submit.disabled{
	background-color: var(--blue-light);
	cursor: not-allowed;
}
.facility-details__bron__submit:active {
	transform: scale(0.97);
}

.facility-details__bron__submit__text,
.facility-details__bron__submit__price {
	font-size: 18px;
	font-weight: 700;
	color: var(--white);
}
.facility-details__bron__submit__text-loading{
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: var(--white);
}
.facility-details__location,
.facility-details__contacts {
	display: none;
	flex-direction: column;
	gap: 15px;
	padding: 0 15px;
}
.facility-details__contacts{
	align-items: start;
}
.facility-details__location__content {
	padding: 15px;
	border: 2px solid var(--grey-light);
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.facility-details__location__content__map {
	width: 100%;
	height: 100px;
	object-fit: cover;
	border-radius: 12px;
}

.facility-details__location__content__text {
	font-size: 14px;
	font-weight: 500;
	color: var(--black);
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.facility-details__location__content__href {
	width: 100%;
	padding: 9px 15px;
	background-color: var(--blue-light);
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s;
}

.facility-details__location__content__href:active {
	transform: scale(0.97);
}

.facility-details__location__content__href span {
	font-size: 14px;
	font-weight: 500;
	color: var(--blue);
}

.facility-details__contacts__number {
	padding: 9px 16px;
	background-color: var(--blue-light);
	border-radius: 12px;
	transition: 0.3s;
	display: flex;
	align-items: center;
	gap: 5px;
}

.facility-details__contacts__number:active {
	transform: scale(0.97);
}

.call-icon {
	width: 16px;
	height: 16px;
	fill: var(--blue);
}

.facility-details__contacts__number span {
	font-size: 14px;
	font-weight: 500;
	color: var(--blue);
}
/* REVIEWS END */


/* CHECKOUT */
.facility-details__ckeckout__payment-type,
.facility-details__ckeckout__payment-option{
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}
.facility-details__ckeckout__payment-option__title,
.facility-details__ckeckout__payment-type__title,
.facility-details__ckeckout__booking-info__title {
	font-size: 20px;
	font-weight: 600;
	color: var(--black);

}
.facility-details__ckeckout__payment-option__list,
.facility-details__ckeckout__payment-type__list {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 15px;
	overflow-x: scroll;
}
.facility-details__ckeckout__payment-option__list::-webkit-scrollbar {
	display: none;
}
.facility-details__ckeckout__payment-option__item,
.facility-details__ckeckout__payment-type__item {
	width: 100%;
	padding: 15px 20px;
	border: 1.5px solid var(--grey-light);
	border-radius: 14px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
	transition: 0.1s;
}
.facility-details__ckeckout__payment-option__item{
	width: 136px;
	align-items: start;
	justify-content: center;
}
.facility-details__ckeckout__payment-option__item.disabled{
	opacity: 0.6;
	cursor: not-allowed;
}
.facility-details__ckeckout__payment-option__item.active,
.facility-details__ckeckout__payment-type__item.active{
	border: 1.5px solid var(--blue);
	background-color: #F9FBFE;
}
.facility-details__ckeckout__payment-option__item__title,
.facility-details__ckeckout__payment-type__item__title{
	width: 100px;
	font-size: 16px;
	font-weight: 500;
	color: var(--black);
	white-space: nowrap;
}
.facility-details__ckeckout__payment-type__item__subtitle {
	font-size: 12px;
	font-weight: 600;
	color: var(--grey);
}
.facility-details__ckeckout__payment-option__item svg, 
.facility-details__ckeckout__payment-option__item img{
	height: 22px;
}
.facility-details__ckeckout__booking-info {
	width: 100%;
	padding: 20px;
	background-color: #F9FBFE;
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.facility-details__ckeckout__booking-info__title {
	margin-bottom: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.facility-details__ckeckout__booking-info__date,
.facility-details__ckeckout__booking-info__time {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.facility-details__ckeckout__booking-info__date span,
.facility-details__ckeckout__booking-info__time span{
	font-size: 14px;
	font-weight: 600;
	color: var(--grey);
}

/* CHECKOUT END */

@media (max-width: 500px) {
	.facility-details-wrap,
	.facility-details__skeleton {
		width: 100%;
		display: initial;
		overflow-x: hidden;
	}
	.facility-details__skeleton__content{
		width: 100%;
		height: initial;
		overflow-x: hidden;
		padding: 0;
		margin: 0;
	}
	.facility-details__skeleton__tabs{
		display: none;
	}
	.facility-details__skeleton__datepicker{
		width: 100%;
		overflow: hidden;
		margin-left: 15px;
		margin-top: -15px;
	}
	.facility-details__skeleton__date {
		width: 52px;
		height: 61px;
		border-radius: 12px;
	}
	.facility-details__skeleton__timepicker {
		width: 100%;
		overflow: hidden;
		margin-left: 15px;
	}
	.facility-details__skeleton__time {
		width: 75px;
		height: 33px;
		border-radius: 12px;
	}
	.facility-details__skeleton__benefits{
		margin-left: 15px;
	}
	.facility-details__skeleton__benefits__title {
		height: 25px;
		border-radius: 9px;
		margin-bottom: 5px;
	}
	.facility-details__skeleton__benefits span{
		flex-direction: column;
		gap: 0;
	}
	.facility-details__skeleton__benefits__content {
		width: 300px;
		height: 22px;
		border-radius: 7px;
	}
	.facility-details__skeleton__map-wrap {
		margin-top: -15px;
		height: 80px;
		padding: 15px;
	}
	.facility-details__map {
		display: none;
	}
	.facility-details__navbar,
	.facility-details__map-wrap{
		display: none;
	}
	.facility-details{
		min-width: initial;
		height: initial;
		overflow: initial;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.facility-details__header,	
	.facility-details__skeleton__image {
		width: 100vw;
		height: 250px;
		border-radius: 0;
	}
	
	.facility-details__header__image{
		border-radius: 0;
	}
	.facility-details__header__image,
	.facility-details__header__image img {
		width: 100%;
		height: 100%;
	}


	.facility-details__header__text-scroll-up {
		bottom: 45px;
		left: 15px;
	}
	.facility-details__header__text-scroll-down {
		display: flex;
	}
	.facility-details__header__text-scroll-up,
	.facility-details__header__text-scroll-down{
		opacity: 0;
	}
	.facility-details__header__text-scroll-up.active,
	.facility-details__header__text-scroll-down.active{
		opacity: 1;
	}
	.facility-details__header__text-scroll-up__title {
		font-size: 32px;
	}
	.facility-details__header__text-scroll-up__gametype__icon {
		width: 16px;
		height: 16px;
	}
	.facility-details__header__text-scroll-up__gametype__text {
		font-size: 14px;
		font-weight: 500;
	}
	
	.facility-details__selection__rooms__item{
		padding: 15px 0;
	}
	.facility-details__selection__rooms__item.selected span{
		color: var(--black);
	}
	.facility-details__selection__rooms__item__underline {
		background-color: var(--black);
		height: 2px;
		top: initial;
		bottom: 1px;
		border-radius: 2px;
	}
	.facility-details__selection__rooms__list {
		width: 100%;
		height: initial;
		z-index: 0;
		margin-top: -45px;
		background-color: #FDFDFD;
		border-radius: 24px 24px 0 0;
		overflow-x: scroll;
		transition: 0.3s;
	}
	.facility-details__selection__rooms__list.active{
		border-radius: 0;
	}
	.facility-details__datepicker .react-datepicker{
		padding-top: 15px;
		margin-top: -15px;
		background: linear-gradient(180deg, #f8f9ff 0%, #fff 100%);
	}
	.facility-details__datepicker .react-datepicker__month{
		margin-left: 7.5px;
	}
	.facility-details__datepicker .react-datepicker__day{
		padding: 5px 0 5px 0;
		border-radius: 12px;
		font-size: 20px;
		min-width: 52px;
	}
	.facility-details__datepicker .react-datepicker__day span{
		font-size: 14px;
	}
	.facility-details__datepicker .react-datepicker__day:hover,
	.facility-details__timepicker__item:hover {
		background: transparent;
	}
	.facility-details__datepicker .react-datepicker__day--selected:hover{
		background: var(--blue);
	}
	.facility-details__timepicker__item {
		padding: 5px 12px;
		border: 2px solid var(--grey-light);
		border-radius: 12px;
		font-size: 16px;
		font-weight: 600;
		color: var(--black);
		cursor: pointer;
	}
	.facility-details__timepicker__item:hover {
		background: transparent;
	}
	.facility-details__timepicker__item:nth-child(1){
		margin-left: 15px;
	}

	.facility-details__benefits,
	.facility-details__reviews{
		padding: 0 15px;
	}
	.facility-details__benefits__title,
	.facility-details__reviews__title,
	.facility-details__location__title,
	.facility-details__contacts__title {
		font-size: 22px;
	}
	.facility-details__benefits__list{
		width: 100%;
		flex-direction: column;
	}
	.facility-details__benefits__item {
		width: 100%;
		display: flex;
	}
	.facility-details__benefits__item span {
		font-size: 16px;
	}
	.facility-details__reviews__main__content__button {
		font-size: 16px;
	}
	.facility-details__location,
	.facility-details__contacts{
		margin-top: 15px;
		display: flex;
	}
	.facility-details__contacts{
		margin-bottom: 133px;
	}
	.facility-details__bron {
		width: 100vw;
		height: initial!important;
		position: fixed;
		bottom: 0;
	}
	.facility-details__bron__timeduration {
		border-top: 1px solid var(--grey-light);
	}
	.facility-details__bron__timeduration span{
		font-size: 12px;
		font-weight: 600;
	}
	.facility-details__bron__submit {
		width: calc(100% - 30px);
		padding: 13px 15px;
		margin: 0 auto 10px auto;
	}
	.facility-details__pay__submit{
		margin: 0;
		width: 100%;
	}
	.facility-details__bron__submit__text,
	.facility-details__bron__submit__price {
		font-size: 16px;
	}
}
