{% block subject %}
Подтвердите свой электронный адрес
{% endblock subject %}

{% block html_body %}
<div style="background-color:#f0f2f4;width:550px;padding-top:25px;padding-bottom:25px;margin-left:auto;margin-right:auto">
    <div style="font-family:sans-serif;margin-left:auto;margin-right:auto;max-width:500px">
        <div style="padding-top:15px;padding-bottom:5px;padding-left:30px;padding-right:30px;margin-bottom:10px;text-align:center;background-color:#fff;font-size:16px">
            <img height="40px" src="https://res.cloudinary.com/dmuvgzd66/image/upload/v1717164639/media/frontend/esy2el1bgfzqximdlxgg.png" alt="Spint Logo">
        </div>

        <div style="padding-left:30px;padding-right:30px;margin-bottom:10px;text-align:center;background-color:#fff;font-size:16px;padding-top:30px;padding-bottom:30px">
            <div style="font-weight:700;font-size:20px;color:rgba(0,0,0,1);text-transform:uppercase">
                Подтверждаете ли вы свой адрес электронной почты?
            </div>

            <div style="height:30px"></div>

            <div style="color:rgba(0,0,0,1)">
                Добро пожаловать в Spint. Чтобы защитить вашу конфиденциальность (и проверить, что у нас правильный
                адрес), нажмите кнопку ниже.
            </div>

            <div style="height:30px"></div>

            <div>
                <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}"
                   style="text-transform:uppercase;height:50px;padding:15px 80px;border-radius:12px;background-color:#2628DD;border:none;color:#fff;text-align:center;text-decoration:none;font-size:14px;font-weight:700">подтвердить</a>
            </div>

            <div style="height:30px"></div>

            <div style="color:rgba(0,0,0,1)">Или скопируйте/вставьте эту ссылку в браузер:</div>

            <div style="color:rgba(0,0,0,1);text-decoration:underline">
                <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">
                    {{ protocol }}://{{ domain }}/{{ url|safe }}
                </a>
            </div>

            <div style="height:30px">&nbsp;</div>

            <div style="color:rgba(0,0,0,1)">Благодарим!<br>Команда Spint</div>
        </div>
    </div>
</div>
{% endblock html_body %}
